<%= form_with(model: signboard) do |form| %>
  <% if signboard.errors.any? %>
    <div id="error_explanation">
    
      <h2><%= pluralize(signboard.errors.count, "error") %> prohibited this signboard from being saved:</h2>

      <ul>
        <% signboard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field col-4">
    <%= form.label :width %>
    <%= form.text_field :width, class: "form-control" %>
  </div>

  <div class="field col-4">
    <%= form.label :height %>
    <%= form.number_field :height, class: "form-control" %>
  </div>

  <div class="field col-4">
    <%= form.label :address %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <br />


   <div class="container">
    <%= form.label :select_owner_id %>
    <%= collection_select(:signboard, :owner_id, Owner.all, :id, :frst_name, {:selected => signboard.owner_id}) %>
  </div>

  <br />

  <div class="actions-container col">
    <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div> 
    </div>
   </div>


  
  
  
  
  
  
  
  
  
  
  

<% end %>
